.index-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  height: 100%;

  &__title {
    font-size: 50px;
  }

  &__rows {
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 80%;
  }

  &__col {
    width: 100%;
  }
}
