.index-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;

  @media (min-width: 1280px) {
    height: 100%;
  }

  &__title {
    @media (min-width: 1280px) {
      font-size: 50px;
    }
  }

  &__rows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;

    @media (min-width: 1280px) {
      width: 80%;
      flex-direction: row;
    }
  }

  &__col {
    width: 100%;
  }
}
